# Arquivos de Configuração Sensíveis
.env

# Diretórios de Build (Maven, IntelliJ, NetBeans, etc.)
target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# VS Code
.vscode/

# Logs de aplicação
logs/
*.log

# Arquivos de banco de dados
*.db
*.bak
